body {
    margin: 0;
    padding: 0;
}

.wrapper {
    /* border: 1px solid #000; */
    height: 700px;
    width: 90%;
    margin: 0 auto;
}

.header {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 180px;
    border: 1px solid #ff80ff;
    height: 180px;
    width: 100%;
}
.menu {
    display: flex;
    border: 1px solid #1aff8c;
    height: 50px;
    width: 100%;
    background: #00e6ac;
}
ul.list_menu {
    padding: 0;
    margin: 0;
    width: 60%;
    /* border: 1px solid; */
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}

ul.list_menu li:hover {
    background: burlywood;
}

ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
}
ul.list_menu li{
    float: left;
    margin: 7px;
    padding: 5px;
}
#main {
    /* border: 1px solid #00ff80; */
    height: auto;
    width: 100%;
    display: flex;
}

.sidebar {
    /* border: 1px solid #000066;
    height: auto;
    width: 20%;
    margin-top: 5px;
    margin-left: 5px; */
    float: left;
    /* flex: 1; */
}

ul.list_sidebar {
    padding: 0;
    margin: 0;
    width: 100%;
    /* border: 1px solid; */
    list-style: none;
    margin: 0 auto;
    line-height: 27px;
}

ul.list_sidebar li:hover {
    background: burlywood;
}

ul.list_sidebar li a {
    text-decoration: none;
    text-align: center;
    color: #3333ff;
    display: block;
}

ul.list_sidebar li {
    margin: 7px;
    padding: 5px;
}


.maincontent {
    border: 1px solid #ff0000;
    height: auto;
    width: 79%;
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

ul.product_list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    margin-left: 20px;
}

ul.product_list li {
    width: 18%;
    /* border: 1px dashed #000; */
    margin: 5px;
    float: left;
    background: aquamarine;
    height: 280px;
    background-color: #f2f2f2;
}

ul.product_list li a{
    text-decoration: none;
}

ul.product_list li img {
    width: 100%;
}

p.title_product{
    text-align: center;
    color: #000;
    font-weight: bold;
}

p.price_product{
    text-align: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    border: 1px solid #ff1a8c;
    height: 150px;
    width: 100%;
    background: #00cc99;
}
p.footer_coppyright{
    text-align: center;
}
.clear {
    clear: both;
}

/* --------- */
.container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.maincontent {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}